footer {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
footer h1 {
    margin: 0;
}
footer ul {
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
footer ul li a {
    text-decoration: none;
}
.footer-logo img {
    width: 100px;
    margin-right: 50px;
  }
.about {
    width: 500px;
    margin-right: 200px;
}