.logo img {
    width: 150px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
    border-bottom: black solid 5px;
  }
  
  .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1100px;
  }
  
  .nav {
    display: flex;
    gap: 360px;
    list-style: none;
    margin-top: 30px;
    padding: 0;
  }
  .nav li a{
    text-decoration: none;
  }
  
  .nav .active {
    text-decoration: underline;
  }
  
  .search-bar {
    margin-top: 20px;
    display: flex;
    border: 2px solid black;
    border-radius: 25px;
    overflow: hidden;
    max-width: 1030px;
    width: 100%;
  }
  
  .search-bar input {
    border: none;
    padding: 10px 15px;
    flex: 1;
    font-size: 1rem;
    outline: none;
    font-family: "Roboto", sans-serif;
  }
  
  .search-bar button {
    background-color: #d23b3b;
    color: white;
    border: none;
    padding: 10px 60px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  