.fairytale {
  width: 100%;
}
.scene-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.slide-in-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
}

.scene-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 60pt;
  z-index: 10;
}

.scroll-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slide-in-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.scroll-text {
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: absolute;
  z-index: 999;
}

.scroll-text p {
  font-size: 2rem;
  color: white;
}

.text1 {
  top: 1000px;
}

.text2 {
  top: 1450px;
}

.scene1 {
  background-color: #1a1a1a;
  height: 1550px;
  overflow: hidden;
}

.layer-back {
  top: 150px;
}

.layer-forest {
  top: 100px;
}

.layer-ground {
  top: 1220px;
}
.layer-pigs {
  top: 1130px;
  left: 25%;
}

.layer-pigs img {
  width: 50%;
}

.layer-front {
  top: 1400px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.scene2 {
  background-color: #eac799;
  height: 2500px;
  overflow: hidden;
}

.straw-house {
  width: 100%;
  top: 50px;
}
.straw-house img {
  float: right;
}
.wooden-house {
  width: 100%;
}
.wooden-house img {
  float: left;
}
.stone-house {
  width: 100%;
}
.stone-house img {
  float: right;
}
.text3 {
  top: 300px;
  right: 400px;
}
.text4 {
  top: 1000px;
  left: 400px;
}
.text5 {
  top: 1800px;
  right: 400px;
}
.text3 p,
.text4 p,
.text5 p {
  color: #1a1a1a;
}
