.fairytale {
  width: 100%;
}
.scene-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.slide-in-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
}

.scene-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 60pt;
  z-index: 10;
}

.scroll-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slide-in-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.scroll-text {
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: absolute;
  z-index: 999;
}

.scroll-text p {
  font-size: 2rem;
  color: white;
}

.text1 {
  top: 1000px;
}

.scene1 {
  background-color: #1a1a1a;
  height: 1550px;
  overflow: hidden;
}

.layer-back {
  top: 150px;
}

.layer-forest {
  top: 100px;
}

.layer-ground {
  top: 1220px;
}
.layer-pigs {
  top: 1130px;
  left: 25%;
}

.layer-pigs img {
  width: 50%;
}

.layer-front {
  top: 1400px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.scene2 {
  background-color: #eac799;
  height: auto;
  overflow: hidden;
  padding-bottom: 200px;
}

.straw-house {
  width: 100%;
  top: 200px;
}
.straw-house img {
  float: right;
}
.wooden-house {
  width: 100%;
  top: 100px;
}
.wooden-house img {
  float: left;
}
.stone-house {
  width: 100%;
  top: -50px;
}
.stone-house img {
  float: right;
}
.text2 {
  top: 20px;
}
.text3 {
  top: 450px;
  right: 400px;
}
.text4 {
  top: 1100px;
  left: 400px;
}
.text5 {
  top: 1700px;
  right: 400px;
}
.text2 p,
.text3 p,
.text4 p,
.text5 p {
  color: #1a1a1a;
}

.scene3 {
  background-color: white;
  overflow: hidden;
}
.background-scene3 {
  width: 100%;
}
.layer-wolf {
  width: 15%;
  left: 65%;
  top: 30%;
}
.text6 {
  top: 600px;
}
.scene4 {
  position: relative;
  background-color: #a39e8e;
  height: 100vh;
}
.scene5,
.scene6 {
  position: relative;
  background-color: #a39e8e;
  height: 100vh;
  overflow: hidden;
}

.house-wolf-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.wolf2 {
  position: absolute;
  left: 10%;
  top: 300px;
  width: 25%;
  cursor: pointer;
  z-index: 2;
}

.wolf2 img {
  width: 100%;
  display: block;
}

.straw-house-wrapper img {
  margin-top: 200px;
  width: 100%;
  z-index: 1;
}

.straw-house-wrapper.destroyed {
  opacity: 1;
  margin-top: 200px;
}
.straw-house-wrapper.destroyed img {
  width: 70%;
  margin-left: 80px;
}

.blow-effect {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
.blow-effect2 {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  margin-top: 450px;
  margin-left: 550px;
  width: 10%;
}

.scene5,
.scene6 {
  position: relative;
  background-color: #a39e8e;
  height: 110vh;

}

.wolf3,
.wolf4 {
  position: absolute;
  left: 10%;
  top: 300px;
  width: 25%;
  cursor: pointer;
  z-index: 2;
}

.wolf3 img,
.wolf4 img {
  width: 100%;
  display: block;
  margin-top: 100px;
}

.wooden-house-wrapper {
  position: absolute;
  right: 200px;
  top: 0;
  width: 35%;
  z-index: 1;
}

.wooden-house-wrapper img {
  margin-top: 350px;
  width: 100%;
}

.wooden-house-wrapper.destroyed img {
  width: 70%;
  margin-left: 80px;
   margin-top: 550px;
}

.stone-house-wrapper {
  position: absolute;
  right: 200px;
  top: 0;
  width: 35%;
  z-index: 1;
}

.stone-house-wrapper img {
  margin-top: 200px;
  width: 100%;
}
